<%= form_tag analysis_url_path do %>

  <div class="row s12 m5">
    <div class="input-field">
      <i class="material-icons prefix">link</i>
      <%= text_field_tag "url", "", :class => "validate" %>
      <label for="url">Url</label>
    </div>
  </div>

  <div class="row s7">
    <div class="row">
      <% @vulnerabilities.each do |vulnerability| %>
        <div class="col s12 m5">
          <p>
            <label>
              <%= check_box_tag "vulnerabilities[]", vulnerability.alias %>
              <span class="flow-text"><%= vulnerability.name %></span>
            </label>
          </p>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col s12 ">
    <div class="col s5 center">
      <button class="btn">Select All</button>
    </div>
    <%= button_tag 'scan', class: "btn waves-effect waves-light orange darken-4" do %>
        SCAN
    <i class="material-icons right white-text">search</i>
    <% end %>
  </div>
<% end %>
